:root {
  --base: hsl(0, 0%, 0%);
  --hue: 40;
  --brand: hsl(var(--hue), 75%, 35%);
  --surface: hsl(var(--hue), 25%, 5%);
  --surface1: hsla(var(--hue), 10%, 5%, 0.25);
  --text: hsl(var(--hue), 25%, 5%);
}

body {
  background: var(--surface);
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: Open Sans, Arial, sans-serif;
  font-size: 10pt;
}

h1,
h2 {
  font-family: Libre Franklin;
  /* mix-blend-mode: difference; */
}

header {
  display: flex;
  width: 100%;
  height: 100vh;
  place-items: center;
}

#canvas {
  /* make the canvas wrapper fits the document */
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
}

/* canvas {
  height: 200vh !important;
} */

.plane {
  /* define the size of your plane */
  position: absolute;
  inset: 0;
}
.plane img {
  /* hide the img element */
  display: none;
}

.hero {
  z-index: 0;
  /* width: 80vw; */
  /* height: 70vh; */
  margin: auto;
  display: grid;
  /* height: 90%; */
  /* background-color: var(--surface1); */
  border-radius: 0.5em;
  border: 6px solid var(--surface);
  padding: 2.5ch 5ch;
  box-shadow: 5px 5px 20px var(--surface);
  backdrop-filter: invert() blur(10px) contrast(25%);
}

.plane:after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  /* background-color: red; */
  backdrop-filter: blur(10px);
}

h1 {
  font-weight: 700;
  font-size: 4.5em;
  kerning: 0.05em;
  margin: 0;
  /* margin-left: -0.2em; */
  /* text-shadow: -5px 5px rgb(255, 255, 255); */
  /* mix-blend-mode: difference; */
}

h2 {
  font-size: 2em;
  font-weight: 300;
  text-transform: capitalize;
  margin: 0;
  /* mix-blend-mode: difference; */
}

p {
  max-inline-size: 40ch;
  line-height: 2ch;
  font-weight: 400;
}

a {
  color: var(--brand);
  font-weight: 600;
}

@media (min-width: 768px) {
  body {
    font-size: 16pt;
  }
}
