@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Raleway:wght@400;500&display=swap");

:root {
  --base: hsl(0, 0%, 0%);
  --hue: 200;
  --brand: hsl(var(--hue), 75%, 45%);
  --surface: hsl(var(--hue), 25%, 10%);
  --surface1: hsla(var(--hue), 25%, 5%, 0.25);
  --text: hsl(var(--hue), 5%, 85%);
}

body {
  box-sizing: border-box;
  background: var(--brand);
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: "Raleway", sans-serif;
  font-size: 16pt;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  font-family: "Poppins";
}

header {
  display: flex;
  width: 90%;
  height: auto;
  place-items: center;
  margin: 1vh auto;
  transform: translateY(50%);
  position: relative;
}

#canvas {
  position: absolute;
  z-index: -1;
  inset: 0;
}

.plane {
  position: absolute;
  inset: 0;
}
.plane img {
  display: none;
}

.hero {
  z-index: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5ch;
  width: fit-content;
  height: 100%;
  padding: 5% 5%;
}

.plane:after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px) brightness(30%) contrast(95%);
  -webkit-backdrop-filter: blur(10px) brightness(40%) contrast(95%);
}

h1 {
  font-weight: 700;
  line-height: 1;
  font-size: 2.55em;
  kerning: 0em;
  margin: 0;
}

h2 {
  font-size: 1em;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
}

h3 {
  font-weight: 700;
  margin: 0;
}

h4 {
  font-weight: 400;
  margin: 1ch 0;
}

p {
  max-inline-size: 30ch;
  line-height: 1.5;
  font-weight: 400;
  margin: 1ch 0;
}

a {
  color: var(--brand);
  font-weight: 600;
  margin: 0;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 4ch;
  /* max-width: 100vw; */
  /* place-items: center; */
  height: 100vh;
  /* margin: auto; */
  background: var(--surface);
}

.work h2 {
  padding: 2ch 0 0 2ch;
}

article {
  display: grid;
  grid-auto-flow: column;
  max-width: 85vw;
  margin-left: 4ch;
  /* gap: 2ch; */
  /* place-items: center; */
}

aside {
  display: flex;
  flex-direction: column;
  /* height: 20%; */
}

ul {
  margin: 1ch;
  margin-left: 2ch;
}

.screenshot {
  width: 95%;
  margin-top: 1ch;
  height: auto;
}

@media (min-width: 870px) {
  body {
    font-size: 20pt;
  }

  h1 {
    font-weight: 700;
    line-height: 1;
    font-size: 4em;
    kerning: 0.05em;
    margin: 0;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1;
    font-weight: 300;
    text-transform: capitalize;
    margin: 0;
  }

  header {
    width: 100%;
    height: 100vh;
    margin: 0;
    transform: none;
  }

  .hero {
    width: fit-content;
    max-width: 80vw;
    height: auto;
    justify-content: center;
  }
}
