:root {
  --hue: 70;
  --surface: hsl(var(--hue), 100%, 90%);
  --surface1: hsla(var(--hue), 100%, 90%, 0.6);
  --text: hsl(var(--hue), 20%, 5%);
}

body {
  background: var(--surface);
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: Libre Franklin, Arial, sans-serif;
  font-size: 12pt;
}

header {
  display: flex;
  width: 100%;
  height: 100vh;
  place-items: center;
}

#canvas {
  /* make the canvas wrapper fits the document */
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
}

/* canvas {
  height: 200vh !important;
} */

.plane {
  /* define the size of your plane */
  position: absolute;
  inset: 0;
}
.plane img {
  /* hide the img element */
  display: none;
}

.hero {
  z-index: 0;
  /* width: 80vw; */
  /* height: 70vh; */
  margin: auto;
  /* height: 90%; */
  background-color: var(--surface1);
  border-radius: 1vw;
  padding: 2vh 2vw;
  box-shadow: 5px 5px 20px var(--text);
  backdrop-filter: blur(40px);
}

.plane:after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  /* background-color: red; */
  backdrop-filter: blur(5px);
}

h1 {
  font-weight: 700;
  font-size: 4em;
  kerning: 0.05em;
  margin: 0;
  /* margin-left: -0.2em; */
  /* text-shadow: -5px 5px rgb(255, 255, 255); */
  /* mix-blend-mode: difference; */
}

h2 {
  font-family: Libre Franklin, Arial, sans-serif;
  font-weight: 100;
  font-size: 2em;
  text-transform: capitalize;
  margin: 0;
  /* mix-blend-mode: difference; */
}

p {
  max-inline-size: 40ch;
  line-height: 2ch;
  font-weight: 400;
}

@media (min-width: 768px) {
  body {
    font-size: 16pt;
  }
}
